# django env
COLLECTOR_SECRET_KEY=""
COLLECTOR_DEBUG=""
COLLECTOR_ALLOWED_HOSTS=""
COLLECTOR_STATIC_ROOT=""

# db env
COLLECTOR_POSTGRES_ENGINE=""
COLLECTOR_POSTGRES_DB=""
COLLECTOR_POSTGRES_USER=""
COLLECTOR_POSTGRES_PASSWORD=""
COLLECTOR_POSTGRES_SERVER=""
COLLECTOR_POSTGRES_DB_PORT=""

# kafka env
COLLECTOR_KAFKA_GROUP_ID=""
COLLECTOR_KAFKA_TOPIC=""
COLLECTOR_KAFKA_IP=""